{% extends 'base.html.twig' %}

{% block body %}
    <h1>Products List</h1>
    <table id="list">

        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Category</th>
            <th>Date</th>
        </tr>
        {% for product in products %}
            <tr>
                <td>
                    {{ product.id }}
                </td>
                <td>
                    {{ product.name }}
                </td>
                <td>
                    {{ product.description }}
                </td>
                <td>
                    {{ product.price }}
                </td>
                <td>
                    {{ product.category }}
                </td>
                <td>
                    {{ product.date }}
                </td>
            </tr>
        {% endfor %}

    </table>

{% endblock %}
