{% extends "base.html.twig" %}

{% block body %}
    {% include 'currency/userBlock.html.twig' %}
    {% include 'currency/menu.html.twig' %}
    <!-- remember to give width and height to your graph containers -->
    <h2>Chart - {{ currency|upper }}</h2>
    <div id="chartBuy"></div>
    <div id="chartSell"></div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        var chartBuy = JSON.parse('{{ buyTimeline }}');
        var chartSell = JSON.parse('{{ saleTimeline }}');
    </script>
    <script type="text/javascript" src="{{ asset('assets/js/currencyRatesChart.js') }}"></script>
{% endblock %}