{% extends 'base.html.twig' %}

{% block body %}
{{ dump(currencies) }}

    {#<table>#}
        {#<thead>#}
        {#<tr>#}
            {#<th colspan="2">Валюта</th>#}
            {#<th>Покупка</th>#}
            {#<th>Продажа</th>#}
        {#</tr>#}
        {#</thead>#}
        {#<tbody>#}
        {#{% for currency in currencies %}#}
            {#<tr>#}
                {#<td>{{ currency.ccy }}</td>#}
                {#<td>{{ currency.base_ccy }}</td>#}
                {#<td>{{ currency.buy | round(3, 'ceil') }}</td>#}
                {#<td>{{ currency.sale | round(3, 'ceil') }}</td>#}
            {#</tr>#}
        {#{% endfor %}#}
        {#</tbody>#}
    {#</table>#}

{% endblock %}
