{% extends 'base.html.twig' %}

{% block body %}
    {% include 'currency/menu.html.twig' %}

    <div class="container">
        <div class="row">
            <div class="col-sm-12 cmt-card">
                <h2>Отчет за {{ quarter }} квартал {{ year }} года</h2>
                {% set total = 0 %}
                {% set tax = 0 %}
                {% set exchangeRate = 1 %}
                {% for payment in payments %}
                    {% if payment.exchangeRate is null %}
                        {% set exchangeRate = 1 %}
                    {% else %}
                        {% set exchangeRate = payment.exchangeRate %}
                    {% endif %}

                    {% set tax = tax + payment.taxSum %}
                    {% set total = total + (payment.paymentSum * exchangeRate) %}
                {% endfor %}
                <p>
                    Сума дохода в гривнах за квартал - <b>{{ total|round(2, 'ceil') }}</b> грн.
                </p>
                <p>
                    Сумма единого налога к оплате - <b>{{ tax|round(2, 'ceil') }}</b> грн.
                </p>
                <p>
                    Сумма ЕСВ к оплате - <b>{{ ssc_tax }}</b> грн.
                </p>
            </div>
        </div>
    </div>

{% endblock %}