{% extends "base.html.twig" %}

{% block body %}
    {% include 'currency/userBlock.html.twig' %}
    {% include 'currency/menu.html.twig' %}
    <div class="container">

        <div class="row">
            <div class="col-sm-4">

                {{ form_start(form) }}

                <div class="form-group">

                    {{ form_label(form.paymentSum) }}
                    {{ form_widget(form.paymentSum, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.paymentSum) }}

                    {{ form_widget(form.paymentSum, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.paymentSum) }}
                </div>

                {#<div class="form-group">#}
                {#{{ form_widget(form.paymentInForeignCurrency) }}#}
                {#{{ form_label(form.paymentInForeignCurrency) }}#}
                {#{{ form_errors(form.paymentInForeignCurrency) }}#}
                {#<input type="checkbox" name="" id="paymentInForeignCurrency">#}
                {#<label for="paymentInForeignCurrency">Payment in foreign currency</label>#}
                {#</div>#}

                <div class="form-group currency">
                    {{ form_label(form.currency) }}
                    {{ form_widget(form.currency, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.currency) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.date) }}
                    {{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.date) }}
                </div>

                {{ form_widget(form.save, {'attr': {'class': 'btn btn-default'}}) }}

                {{ form_end(form) }}

            </div>
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/js/newPayment.js') }}"></script>
{% endblock %}