{% extends "base.html.twig" %}

{% block body %}
    {% include 'currency/userBlock.html.twig' %}
    {% include 'currency/menu.html.twig' %}
    <div class="container">

        <div class="row">
            <div class="col-sm-4">

                {{ form_start(form) }}

                <div class="form-group">
                    {{ form_label(form.sumHrn) }}
                    {{ form_widget(form.sumHrn, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.sumHrn) }}
                </div>

                <div class="form-group">
                    {#{{ form_widget(form.paymentInForeignCurrency) }}#}
                    {#{{ form_label(form.paymentInForeignCurrency) }}#}
                    {#{{ form_errors(form.paymentInForeignCurrency) }}#}
                    <input type="checkbox" name="" id="paymentInForeignCurrency">
                    <label for="paymentInForeignCurrency">Payment in foreign currency</label>
                </div>

                <div class="form-group sumForeignCurrency hidden">
                    {{ form_label(form.sumForeignCurrency) }}
                    {{ form_widget(form.sumForeignCurrency, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.sumForeignCurrency) }}
                </div>

                <div class="form-group currency hidden">
                    {{ form_label(form.currency) }}
                    {{ form_widget(form.currency, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.currency) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.date) }}
                    {{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.date) }}
                </div>

                {{ form_widget(form.save, {'attr': {'class': 'btn btn-default'}}) }}

                {{ form_end(form) }}

            </div>
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var $currentDate = new Date();
        console.log($currentDate.getYear());
        $("#tax_date").datetimepicker({
            viewMode: 'days',
            format: 'YYYY-MM-DD',
            defaultDate: $currentDate,
            maxDate: new Date(),
            minDate: $currentDate.setYear($currentDate.getYear() + 1895) //some dirty hack that I don't understand
        });
        $('#paymentInForeignCurrency').bind('change', function () {
            if (this.checked) {
                $('.sumForeignCurrency, .currency').removeClass('hidden');
                document.getElementById("tax_sumForeignCurrency").setAttribute("required", "required");
            } else {
                $('.sumForeignCurrency, .currency').addClass('hidden');
                document.getElementById("tax_sumForeignCurrency").removeAttribute("required");
            }
        });
    </script>
{% endblock %}