{% extends 'base.html.twig' %}

{% block body %}
    {{ dump() }}
    <h2>Курс {{ formData.currency.name }} на {{ hrnRate.exchangedate }} - {{ hrnRate.rate }} грн</h2>
    <p>Получено в {{ formData.currency.name }} - {{ formData.sumForeignCurrency }} {{ formData.currency.name }}</p>
    <p>Получено в грн - {{ total }} грн</p>
    <p>Сумма единого налога - {{ tax }}грн</p>
{% endblock %}