{% extends 'base.html.twig' %}

{% block body %}
    {% include 'currency/userBlock.html.twig' %}
    {% include 'currency/menu.html.twig' %}
    {#{{ dump() }}#}
    <h2>Курс {{ formData.currency.name }} на {{ hrnRate.exchangedate }} - {{ hrnRate.rate }} грн</h2>
    <p>Получено в {{ formData.currency.name }} - {{ formData.sumForeignCurrency }} {{ formData.currency.name }}</p>
    <p>Получено в грн - {{ total }} грн</p>
    <p>Сумма единого налога - {{ tax }}грн</p>
{% endblock %}