{% extends "base.html.twig" %}


{% block body %}
    {% include 'currency/userBlock.html.twig' %}
    {% include 'currency/menu.html.twig' %}
    <div class="container">
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Сумма в UAH</th>
                <th>Сумма в Валюте</th>
                <th>Общая сумма в UAH</th>
                <th>Валюта</th>
                <th>Дата</th>
                <th>Сумма ЕН</th>
                <th>Квартал</th>
                <th></th>
            </tr>
            {% for tax in taxes %}
                <tr>
                    <td>
                        {{ tax.id }}
                    </td>
                    <td>
                        {{ tax.sumHrn }}
                    </td>
                    <td>
                        {{ tax.sumForeignCurrency }}
                    </td>
                    <td>
                        {{ tax.totalSumHrn }}
                    </td>
                    <td>
                        {{ tax.currency.name }}
                    </td>
                    <td>
                        {{ tax.date|date("m/d/Y") }}
                    </td>
                    <td>
                        {{ tax.taxSum|round(2, 'ceil') }}
                    </td>
                    <td>
                        {{ tax.date|quarter() }}
                    </td>
                    <td>
                        <button
                                type="button"
                                class="btn btn-danger delete-payment"
                                data-toggle="modal"
                                data-target="#modalDeleteConfirmation"
                                data-delete-url="{{ path('remove payment', {'paymentId' : tax.id}) }}"
                        >
                            Удалить
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </table>

        <!-- Modal -->
        <div id="modalDeleteConfirmation" class="modal fade" role="dialog">
            <div class="modal-dialog modal-sm">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Внимание!</h4>
                    </div>
                    <div class="modal-body">
                        <p>Вы уверены что хотите удалить этот платеж?</p>
                    </div>
                    <div class="modal-footer">
                        <a href="" class="btn btn-danger">УДАЛИТЬ</a>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script>
        $('button.delete-payment').click(function () {
            $('#modalDeleteConfirmation a').attr('href', $(this).data('delete-url'));
        });
    </script>

{% endblock %}