{% extends "base.html.twig" %}


{% block body %}
    {% include 'currency/menu.html.twig' %}

    <div class="container">
        <p>
            <a href="{{ path('tax_calculator') }}" class="btn btn-primary">
                Новый платёж
            </a>
            <button
                    type="button"
                    id="paymentReportBtn"
                    class="btn btn-success"
                    data-toggle="modal"
                    data-target="#modalPaymentReport"
            >
                Сформировать отчет
            </button>
        </p>
        <div class="table-responsive">
            <table class="table colored_table payment-history">
                <thead>
                <tr class="table-head">
                    <th>Дата</th>
                    <th>Сумма</th>
                    <th>Сумма ЕН</th>
                    <th>Квартал</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {#<td>#}
                    {#<div style="height:560px; overflow:auto;">#}
                        {#<table>#}
                            {##}
                        {#</table>#}
                    {#</div>#}
                {#</td>#}
                {% for tax in taxes %}
                    <tr>
                        <td>
                            {{ tax.date|date("m-d-Y") }}
                        </td>
                        <td>
                            {{ tax.paymentSum }} &#x{{ tax.currency.symbol }}
                            {% if  tax.exchangeRate is not null %}
                                <br>
                                <span class="tax-history-hrn-rate">
                                    {{ (tax.paymentSum * tax.exchangeRate)|round(2, 'ceil') }}
                                    &#x20B4
                                </span>
                            {% endif %}
                        </td>
                        <td>
                            {{ tax.taxSum|round(2, 'ceil') }}
                            &#x20B4
                        </td>
                        <td>
                            {{ tax.date|quarter() }}
                        </td>
                        <td>
                            <button
                                    type="button"
                                    class="btn btn-danger pull-right delete-payment"
                                    data-toggle="modal"
                                    data-target="#modalDeleteConfirmation"
                                    data-delete-url="{{ path('remove payment', {'paymentId' : tax.id}) }}"
                            >
                                Удалить
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- Modal Delete payment -->
        <div id="modalDeleteConfirmation" class="modal fade" role="dialog">
            <div class="modal-dialog modal-sm">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Внимание!</h4>
                    </div>
                    <div class="modal-body">
                        <p>Вы уверены что хотите удалить этот платеж?</p>
                    </div>
                    <div class="modal-footer">
                        <a href="" class="btn btn-danger">УДАЛИТЬ</a>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                    </div>
                </div>

            </div>
        </div>

        <div id="modalPaymentReport" class="modal fade" role="dialog">
            <div class="modal-dialog modal-sm">
                <!-- Modal content-->
                <div class="modal-content">
                    {{ form_start(form) }}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Выберите кватрал</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            {{ form_label(form.quarters) }}
                            {{ form_widget(form.quarters, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form) }}
                        </div>
                    </div>
                    <div class="modal-footer">
                        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-success'}}) }}
                        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                    </div>
                    {{ form_end(form) }}
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script>
        $('button.delete-payment').click(function () {
            $('#modalDeleteConfirmation a').attr('href', $(this).data('delete-url'));
        });
    </script>

{% endblock %}